-r requirements.txt

rpdb
tqdm
ipython
flake8
pylint
pep8
django-silk
pre-commit
pytest-cov
pytest-django
pytest-factoryboy
Faker
selenium
webdriver-manager

boto3
pyyaml 
ua-parser 
user-agents
django-user-agents