<div id="app-header"></div>
<div id="app-sidebar"></div>
<div class="page-main-wrap">
  <div class="page-main">
    <div class="page-main-inner">
      <div class="custom-page-wrapper">
        <h2>About</h2>
        <hr />
        <p>
          <a href="localhost">Biites</a>Biites is the next generation video and analytics platform.
           Built from the ground up with transparency and quality as standard, we utilise 1st party data 
           coupled with a best-in-class AI to enhance the user experience, drive deeper brand engagement 
           and create unrivalled performance withinin video distribution.
        </p>
      </div>
    </div>
    <div class="page-sidebar-content-overlay"></div>
  </div>
</div>
<div id="app-footer"></div>
